<!-- @include global/head.inc.html -->
<!-- https://www.hteumeuleu.com/2021/fixing-gmail-dark-mode-css-blend-modes -->
<!-- Hotfix for gmail using class="body" -->
<body class="body">
	<!-- @extend ./components/Main/Main.inc.html -->
		<!-- @include global/header.inc.html -->
		<table border="0" cellspacing="16" cellpadding="0" class="Base dark-base" height="<!-- @echo contentHeight -->">
			<tbody>
				<!-- @include ./global/hi.inc.html -->
				<!-- @include ./body/body.inc.html -->
				<!-- @include ./global/download-footer.inc.html -->
			</tbody>
		</table>
		<!-- @include global/footer.inc.html -->
	<!-- @endextend -->
</body>