<!-- For MSO, you need to specify width of a table without `px` => width="648" -->
<!--[if (gte mso 9)|(IE)]>
<table role="presentation" cellpadding="0" cellspacing="0" border="0" width="648" align="center">
    <tr>
        <td>
<![endif]-->
<!--[if !mso]>-->
<table role="presentation" aria-roledescription="email" lang="en" id="email" class="main" width="100%" align="center">
    <tbody>
        <tr>
            <td>
<!--<![endif]-->
                <!-- @extendable -->
<!--[if !mso]>-->
            </td>
        </tr>
    </tbody>
</table>
<!--<![endif]-->
<!--[if (gte mso 9)|(IE)]>
        </td>
    </tr>
</table>
<![endif]-->